@{
    ViewBag.Title = "ZooPro";
}

<div class="main-container">
    <div class="center-container">
        <h1>ZooPro</h1>
        @Html.ActionLink("Log in", "Login", "Account", new { }, new { @class = "button submit" })
    </div>
</div>
