@model PetShop.Models.StockedItem

<div class="modal-content">
    @using (Html.BeginForm("EditQuantity", "ItemsOrders", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <input id="stockedItemId" name="itemInOrderId" type="hidden" value=@Model.ItemInOrder.ItemInOrderId>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="quantity">Enter stored quantity:</label>
                <input type="number" value=@Model.Quantity id="quantity" name="quantity" min="0" max=@Model.Quantity>
            </div>

            <div class="buttons-vertical">
                <div class="control-container">
                    <input type="submit" value="OK" class="submit" id="submitButton" />
                </div>

                <div class="control-container">
                    @Html.ActionLink("Cancel", "Details", new { itemsOrderId = Model.ItemInOrder.ItemsOrderId}, new { @class = "submit" })
                </div>


            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



